BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 120
TabWidth: 4

# AlignConsecutiveAssignments: true
# AlignConsecutiveMacros: true
# AlignConsecutiveDeclarations: true
# AlignEscapedNewlines: Left
# AlignTrailingComments: true
# AlignOperands: true